<!DOCTYPE html>
<html lang="en">
    <%- include('header') %>
    <body>
        <%- include('topnav', { active: 'home' }) %>
        <div class="error-container">
            <h1>No such leaderboard found</h1>
        </div>
    </body>
</html>