    <script src="jquery.min.js"></script>
    <script src="materialize.min.js"></script>
    <script src="Chart.bundle.min.js"></script>
    <script src="init.js"></script>\
    <script>
        $(document).ready(() => {
            $('.sidenav').sidenav();
            console.log('Sidenav init');
        });
    </script>
</body>