<div id="topNav" class="navbar-fixed"><!-- Navbar Start -->
    <nav>
        <div id="topNav-ul" class="nav-wrapper">
            <a href="/" class="brand-logo" id="nav-site-name">pubgstats.info</a>
            <% var links = [ 
                { href:"/", value: "Home", isActive: false },
                { href:"/leaderboard", value: "Leaderboard", isActive: false },
                { href: "/player", value: "Player Lookup", isActive: false},
                { href:"/seasons", value: "Seasons", isActive: false },
                { href:"/weaponsMastery", value:"Weapons Mastery", isActive: false }
            ]; %>
            <ul id="mobile-nav" class="right hide-on-med-down">
                <% links.forEach(function(link){ %>
                    <li class=<%= active === link.value ? "active" : "" %>>
                        <a href=<%= link.href %>> 
                            <%= link.value %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </nav>
</div><!-- Navbar Ends -->